{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}

{% block title %}
    لیست دپارتمان ها
{% endblock %}

{% block content %}
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-2">
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    دپارتمان ها </h5>
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                                            تعداد : {{ departments.count }}                                   </span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="{% url 'managers:department_create' %}" class="btn btn-light-primary font-weight-bold ml-2">

                    ایجاد دپارتمان </a>
            </div>
        </div>
    </div>


    <div class="d-flex flex-column-fluid">
        <div class=" container ">
            <div class="row">
                {% for department in departments %}
                    {% include 'core/components/department_card_component.html' with department=department %}
                {% empty %}
                    <div class="col-12">
                        <div class="alert  alert-custom alert-secondary" role="alert">
                            <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                            <div class="alert-text">
                                دپارتمانی یافت نشد.
                                <a href="{% url 'managers:department_create' %}">ایجاد دپارتمان جدید</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {% include 'core/components/paginate_component.html' with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
        </div>
    </div>
{% endblock %}