{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    جزئیات دپارتمان
{% endblock %}

{% block content %}
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-2">
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    دپارتمان </h5>

                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>

            </div>
            <div class="d-flex align-items-center">
                <a href="{% url 'managers:department_list' %}"
                   class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">

                    لیست دپارتمان ها </a>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column-fluid">
        <div class=" container ">
            {% include 'core/components/department_detail_component.html' with department=department %}
        </div>
    </div>
{% endblock %}