{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    جزئیات دپارتمان
{% endblock %}

{% block content %}
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::جزئیات-->
            <div class="d-flex align-items-center flex-wrap mr-2">

                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    دپارتمان </h5>
                <!--end::Title-->

                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->

                <!--begin::جستجو Form-->
                <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                                            جزئیات دپارتمان را وارد  کنید                                    </span>
                </div>
                <!--end::جستجو Form-->

            </div>
            <!--end::جزئیات-->

            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">
                <!--begin::دکمه-->
                <a href="{% url 'managers:department_list' %}"
                   class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">

                    بازگشت </a>
                <!--end::دکمه-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>


    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::جزئیات-->
            <div class="d-flex align-items-center flex-wrap mr-2">

                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    دپارتمان </h5>
                <!--end::Title-->

                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->

                <!--begin::جستجو Form-->
                <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                                           {{ department.name }}                               </span>
                </div>
                <!--end::جستجو Form-->
            </div>
            <!--end::جزئیات-->

            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">

                <!--begin::دکمه-->
                <a href="{% url 'managers:department_list' %}" class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">

                    بازگشت </a>
                <!--end::دکمه-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>


    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">

            <!--begin::Row-->
            <div class="row">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                    <!--begin::Card-->
                    <div class="card card-custom gutter-b card-stretch">
                        <!--begin::Body-->
                        <div class="card-body pt-4">
                            <!--begin::Toolbar-->
                            <div class="d-flex justify-content-end">
                                <div class="dropdown dropdown-inline" data-toggle="tooltip" title=""
                                     data-placement="left" data-original-title="اقدامات سریع">
                                    <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="ki ki-bold-more-hor"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                        <!--begin::Navigation-->
                                        <ul class="navi navi-hover">
                                            <li class="navi-header font-weight-bold py-4">
                                                <span class="font-size-lg">انتخاب کنید:</span>
                                                <i class="flaticon2-information icon-md text-muted"
                                                   data-toggle="tooltip" data-placement="right" title=""
                                                   data-original-title="برای اطلاعات بیشتر کلیک کنید..."></i>
                                            </li>
                                            <li class="navi-separator mb-3 opacity-70"></li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-success">مشتری</span>
            </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-danger">شریک</span>
            </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-warning">برتر</span>
            </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-primary">عضو</span>
            </span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="#" class="navi-link">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-dark">کارمندان</span>
            </span>
                                                </a>
                                            </li>
                                            <li class="navi-separator mt-3 opacity-70"></li>
                                            <li class="navi-footer py-4">
                                                <a class="btn btn-clean font-weight-bold btn-sm" href="#">
                                                    <i class="ki ki-plus icon-sm"></i>
                                                    جدید اضافه کن
                                                </a>
                                            </li>
                                        </ul>
                                        <!--end::Navigation-->
                                    </div>
                                </div>
                            </div>
                            <!--end::Toolbar-->
                            <!--begin::User-->
                            <div class="d-flex align-items-center mb-7">
                                <!--begin::Pic-->
                                <div class="flex-shrink-0 mr-4">
                                    <div class="symbol symbol-circle symbol-lg-75">
                                        <img src="{% static 'media_files/bg/bg-4.jpg' %}" alt="image">
                                    </div>
                                </div>
                                <!--end::Pic-->
                                <!--begin::Title-->
                                <div class="d-flex flex-column">
                                        <span
                                                class="text-dark font-weight-bold text-hover-primary font-size-h4 mb-0">{{ department.name }}</span>
                                </div>
                                <!--end::Title-->
                            </div>
                            <!--end::User-->
                            <!--begin::Desc-->
                            <p class="mb-7">
                                {{ department.description }}
                            </p>
                            <!--end::Desc-->
                            <div class="row">
                                <div class="col-md-6">
                                    <a href="{% url 'managers:department_delete' department.pk %}"
                                       class="btn btn-block btn-sm btn-light-danger font-weight-bolder text-uppercase py-4">حذف</a>
                                </div>
                                <div class="col-md-6">
                                    <a href="{% url 'managers:department_update' department.pk %}"
                                       class="btn btn-block btn-sm btn-light-info font-weight-bolder text-uppercase py-4">ویرایش</a>
                                </div>
                            </div>
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end:: Card-->
                </div>


            </div>
            <!--end::Row-->

            <div class="row">

                <div class="col-md-8">
                    <!--begin::پیشرفت Table Widget 3-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0 py-5">
                            <h3 class="card-title align-items-start flex-column">
                                <span class="card-label font-weight-bolder text-dark">پروژه های این دپارتمان</span>
                                <span class="text-muted mt-3 font-weight-bold font-size-sm">{{ projects.count }} پروژه</span>
                            </h3>
                            <div class="card-toolbar">
                                <a href=""
                                   class="btn btn-light-primary font-weight-bolder font-size-sm"><span
                                        class="svg-icon svg-icon-md svg-icon-white"><!--begin::Svg Icon | path:assets/media/svg/icons/ارتباطات/Add-user.svg--><svg
                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <polygon points="0 0 24 0 24 24 0 24"></polygon>
        <path d="M18,8 L16,8 C15.4477153,8 15,7.55228475 15,7 C15,6.44771525 15.4477153,6 16,6 L18,6 L18,4 C18,3.44771525 18.4477153,3 19,3 C19.5522847,3 20,3.44771525 20,4 L20,6 L22,6 C22.5522847,6 23,6.44771525 23,7 C23,7.55228475 22.5522847,8 22,8 L20,8 L20,10 C20,10.5522847 19.5522847,11 19,11 C18.4477153,11 18,10.5522847 18,10 L18,8 Z M9,11 C6.790861,11 5,9.209139 5,7 C5,4.790861 6.790861,3 9,3 C11.209139,3 13,4.790861 13,7 C13,9.209139 11.209139,11 9,11 Z"
              fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
        <path d="M0.00065168429,20.1992055 C0.388258525,15.4265159 4.26191235,13 8.98334134,13 C13.7712164,13 17.7048837,15.2931929 17.9979143,20.2 C18.0095879,20.3954741 17.9979143,21 17.2466999,21 C13.541124,21 8.03472472,21 0.727502227,21 C0.476712155,21 -0.0204617505,20.45918 0.00065168429,20.1992055 Z"
              fill="#000000" fill-rule="nonzero"></path>
    </g>
</svg><!--end::Svg Icon--></span>ایجاد پروژه برای این دپارتمان</a>
                            </div>
                        </div>
                        <!--end::Header-->

                        <!--begin::Body-->
                        <div class="card-body pt-0 pb-3">
                            <!--begin::Table-->
                            <div class="table-responsive">
                                <table class="table table-head-custom table-head-bg table-borderless table-vertical-center">
                                    <thead>
                                    <tr class="text-uppercase">
                                        <th style="min-width: 250px" class="pl-7"><span
                                                class="text-dark-75">پروژه</span></th>
                                        <th style="min-width: 100px">توضیحات</th>
                                        <th style="min-width: 150px">دسترسی</th>
                                        <th style="min-width: 130px">تعداد کارفرمایان</th>
                                        <th style="min-width: 120px">مدیریت</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for project in department.projects.all %}
                                        <tr>
                                            <td class="pl-0 py-8">
                                                <div class="d-flex align-items-center">
                                                    <div class="symbol symbol-50 flex-shrink-0 mr-4">
                                                        <div class="symbol-label"
                                                             style="background-image: url({% static 'media_files/bg/bg-10.jpg' %})"></div>
                                                    </div>

                                                    <div>
                                                        <a href="{% url 'managers:project_detail' project.pk %}"
                                                           class="text-dark-75 font-weight-bolder text-hover-primary mb-1 font-size-lg">{{ project.name }}</a>
                                                        <span class="text-muted font-weight-bold d-block">شناسه: {{ project.id }}</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                            <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                               {{ project.description|truncatewords:3 }}
                            </span>
                                                <a href=""
                                                   class="text-muted font-weight-bold">
                                                    بیشتر...
                                                </a>
                                            </td>
                                            <td>
                                                    <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                                                        {{ project.get_accessibility_display }}
                                                    </span>
                                                <span class="text-muted font-weight-bold"></span>
                                            </td>
                                            <td>
                                                <span class="label label-lg label-light-primary label-inline">{{ project.customers.all.count }}</span>
                                            </td>
                                            <td class="pr-0">
                                                <a href=""
                                                   class="btn btn-icon btn-light btn-hover-primary btn-sm">
                                                    <span class="svg-icon svg-icon-md svg-icon-primary">									<svg
                                                            xmlns="http://www.w3.org/2000/svg"
                                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="24px"
                                                            height="24px" viewBox="0 0 24 24" version="1.1">										<g
                                                            stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">											<rect
                                                            x="0" y="0" width="24" height="24"></rect>											<path
                                                            d="M12.2674799,18.2323597 L12.0084872,5.45852451 C12.0004303,5.06114792 12.1504154,4.6768183 12.4255037,4.38993949 L15.0030167,1.70195304 L17.5910752,4.40093695 C17.8599071,4.6812911 18.0095067,5.05499603 18.0083938,5.44341307 L17.9718262,18.2062508 C17.9694575,19.0329966 17.2985816,19.701953 16.4718324,19.701953 L13.7671717,19.701953 C12.9505952,19.701953 12.2840328,19.0487684 12.2674799,18.2323597 Z"
                                                            fill="#000000" fill-rule="nonzero"
                                                            transform="translate(14.701953, 10.701953) rotate(-135.000000) translate(-14.701953, -10.701953) "></path>											<path
                                                            d="M12.9,2 C13.4522847,2 13.9,2.44771525 13.9,3 C13.9,3.55228475 13.4522847,4 12.9,4 L6,4 C4.8954305,4 4,4.8954305 4,6 L4,18 C4,19.1045695 4.8954305,20 6,20 L18,20 C19.1045695,20 20,19.1045695 20,18 L20,13 C20,12.4477153 20.4477153,12 21,12 C21.5522847,12 22,12.4477153 22,13 L22,18 C22,20.209139 20.209139,22 18,22 L6,22 C3.790861,22 2,20.209139 2,18 L2,6 C2,3.790861 3.790861,2 6,2 L12.9,2 Z"
                                                            fill="#000000" fill-rule="nonzero" opacity="0.3"></path>										</g>									</svg>	                            </span>
                                                </a>
                                            </td>
                                        </tr>
                                    {% empty %}
                                        <div class="alert alert-custom alert-outline-info fade show mb-5" role="alert">
                                            <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                            <div class="alert-text">پروژه ای پیدا نشد!</div>
                                            <div class="alert-close">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="نزدیک">
                                                    <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                                </button>
                                            </div>
                                        </div>
                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                            <!--end::Table-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::پیشرفت Table Widget 3-->
                </div>

                <div class="col-md-4">
                    <!--begin::لیست Widget 3-->
                    <div class="card card-custom card-stretch gutter-b">
                        <!--begin::Header-->
                        <div class="card-header border-0">
                            <h3 class="card-title font-weight-bolder text-dark">کاربران ارشد</h3>
                            <div class="card-toolbar">
                                <div class="dropdown dropdown-inline">
                                    <a href="#" class="btn btn-light-primary btn-sm font-weight-bolder dropdown-toggle"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        کاربران
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right" style="">
                                        <!--begin::Navigation-->
                                        <ul class="navi navi-hover">
                                            <li class="navi-header pb-1">
                                                <span class="text-primary text-uppercase font-weight-bold font-size-sm"></span>
                                            </li>
                                            <li class="navi-item">
                                                <a href="{% url 'managers:user_list' %}" class="navi-link"
                                                   target="_blank">
                                                    <span class="navi-icon"><i class="flaticon2-graph-1"></i></span>
                                                    <span class="navi-text">لیست کاربران</span>
                                                </a>
                                            </li>
                                            <li class="navi-item">
                                                <a href="{% url 'managers:user_create' %}" class="navi-link"
                                                   target="_blank">
                                                    <span class="navi-icon"><i class="flaticon2-rocket-1"></i></span>
                                                    <span class="navi-text">ایجاد کاربر</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!--end::Navigation-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end::Header-->

                        <!--begin::Body-->
                        <div class="card-body pt-2">

                            {% for staff_user in object.staff_users.all %}

                                <div class="d-flex align-items-center mb-10">
                                    <!--begin::سیمبل-->
                                    <div class="symbol symbol-40 symbol-light-success mr-5">
                <span class="symbol-label">
                    <img src="{% static 'media_files/svg/avatars/009-boy-4.svg' %}" class="h-75 align-self-end" alt="">
                </span>
                                    </div>
                                    <!--end::سیمبل-->

                                    <!--begin::متن-->
                                    <div class="d-flex flex-column flex-grow-1 font-weight-bold">
                                        <span
                                                class="text-dark text-hover-primary mb-1 font-size-lg">{{ staff_user.get_full_name }}</span>
                                        <span class="text-muted">{{ staff_user.username }}</span>
                                    </div>
                                    <!--end::متن-->

                                    <!--begin::دراپ دان-->
                                    <div class="dropdown dropdown-inline ml-2" data-toggle="tooltip" title=""
                                         data-placement="left" data-original-title="اقدامات سریع">
                                        <a href="#" class="btn btn-hover-light-primary btn-sm btn-icon"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ki ki-bold-more-hor"></i>
                                        </a>
                                        <div class="dropdown-menu p-0 m-0 dropdown-menu-md dropdown-menu-right"
                                             style="">
                                            <!--begin::Navigation-->
                                            <ul class="navi navi-hover">
                                                <li class="navi-header font-weight-bold py-4">
                                                    <span class="font-size-lg">انتخاب کنید:</span>
                                                    <i class="flaticon2-information icon-md text-muted"
                                                       data-toggle="tooltip" data-placement="right" title=""
                                                       data-original-title="کاربر را مدیریت کنید"></i>
                                                </li>
                                                <li class="navi-separator mb-3 opacity-70"></li>
                                                <li class="navi-item">
                                                    <a href="{% url 'managers:user_update' user.pk %}"
                                                       class="navi-link">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-warning">ویرایش</span>
            </span>
                                                    </a>
                                                </li>
                                            </ul>
                                            <!--end::Navigation-->
                                        </div>
                                    </div>
                                    <!--end::دراپ دان-->
                                </div>
                            {% empty %}
                                <div class="alert alert-custom alert-outline-info fade show mb-5" role="alert">
                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                    <div class="alert-text">کاربر ارشدی یافت نشد!</div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="نزدیک">
                                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                                        </button>
                                    </div>
                                </div>

                            {% endfor %}


                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::لیست Widget 3-->
                </div>

            </div>

        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
{% endblock %}