{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    ایجاد/ویرایش کالا
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
            <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-2">
                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                        کالا </h5>
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                    <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                                            جزئیات کالا را وارد  کنید                                    </span>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    {% if url_name == 'workday_update' %}
                        <a href="{% url 'managers:kala_list' object.pk %}"
                           class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">

                            لیست کالاها </a>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="d-flex flex-column-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-custom example example-compact">
                            <div class="card-header">
                                <h3 class="card-title">
                                    {% if url_name == 'kala_create' %}
                                        ایجاد کالا
                                    {% else %}
                                        ویرایش کالا
                                    {% endif %}
                                </h3>
                            </div>
                            <form class="form" method="post" autocomplete="off">
                                {% csrf_token %}
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.name|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{ form.filter|as_crispy_field }}
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                {{ form.description|as_crispy_field }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    {% if url_name == 'kala_create' %}
                                        <button type="submit" class="btn btn-light-info font-weight-bold mr-2">ایجاد
                                        </button>
                                    {% else %}
                                        <button type="submit" class="btn btn-light-info font-weight-bold mr-2">ویرایش
                                        </button>
                                        <a href="{% url 'managers:kala_delete' object.pk %}" type="submit"
                                           class="btn btn-outline-danger font-weight-bold mr-2">حذف
                                        </a>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}
