{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    داشبورد
{% endblock %}

{% block content %}
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-2">

                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    داشبورد </h5>

            </div>
        </div>
    </div>

    <div class="d-flex flex-column-fluid">
        <div class=" container-fluid ">
            <div class="row">

                <div class="col-md-12">
                    <div class="alert alert-custom alert-white alert-shadow fade show gutter-b" role="alert">
                        <div class="alert-icon">
                            <span>
                                <i class="fa fa-network-wired text-info"></i>
                            </span>
                        </div>
                        <div class="alert-text font-size-h5 font-size-h4-md">
                            اتوماسیون یکپارچه <a href="https://abolfazlabdi.ir" target="_blank">گروه فلزکاری برادران عبدی</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 mb-5">
                    <div class="card card-custom wave wave-animate-slow mb-8 mb-lg-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
						<span>
                            <fa class="fa fa-file-invoice-dollar font-size-h1 text-warning"></fa>
                        </span>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="{% url 'managers:invoice_list' %}" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        صورتحساب های شما
                                    </a>
                                    <div class="text-dark-75">لیست فاکتورها</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card card-custom wave wave-animate-slow mb-8 mb-lg-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
						<span>
                            <fa class="fa fa-project-diagram font-size-h1 text-primary"></fa>
                        </span>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="{% url 'managers:project_list' %}" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        پروژه های ایجاد شده
                                    </a>
                                    <div class="text-dark-75">لیست پروژه ها</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card card-custom wave wave-animate-slow mb-8 mb-lg-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
						<span>
                            <fa class="fa fa-building font-size-h1 text-danger"></fa>
                        </span>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="{% url 'managers:department_list' %}" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        مدیریت دپارتمان ها
                                    </a>
                                    <div class="text-dark-75">لیست دپارتمان ها</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card card-custom wave wave-animate-slow mb-8 mb-lg-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
						<span>
                            <fa class="fa fa-calendar-day font-size-h1 text-secondary"></fa>
                        </span>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="{% url 'managers:workday_list' %}" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        مدیریت روزهای کاری
                                    </a>
                                    <div class="text-dark-75">لیست روزهای کاری</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-5">
                    <div class="card card-custom wave wave-animate-slow mb-8 mb-lg-0">
                        <div class="card-body">
                            <div class="d-flex align-items-center p-5">
                                <div class="mr-6">
						<span>
                            <fa class="fa fa-users font-size-h1 text-success"></fa>
                        </span>
                                </div>
                                <div class="d-flex flex-column">
                                    <a href="{% url 'managers:user_list' %}" class="text-dark text-hover-primary font-weight-bold font-size-h4 mb-3">
                                        مدیریت کاربران
                                    </a>
                                    <div class="text-dark-75">لیست کاربران</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}