{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}

{% block title %}
    حذف پروژه
{% endblock %}

{% block content %}
    {% with request.resolver_match.url_name as url_name %}
        <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
            <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                <div class="d-flex align-items-center flex-wrap mr-2">

                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                        پروژه </h5>
                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                    <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                                            حذف  {{ object.name }}                                    </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="d-flex flex-column-fluid">
            <div class="container">
                {% include 'core/components/project_delete_component.html' with object=object %}
            </div>
        </div>
    {% endwith %}
{% endblock %}