{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    جزئیات پروژه
{% endblock %}

{% block content %}
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-2">
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    پروژه </h5>
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                                                                {{ object.name }}                </span>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="{% url 'managers:project_list' %}"
                   class="btn btn-default font-weight-bold btn-sm px-3 font-size-base">
                    بازگشت </a>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column-fluid">
        <div class=" container-fluid ">
            {% include 'core/components/project_detail_component.html' %}
        </div>
    </div>
{% endblock %}