{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    پروژه ها
{% endblock %}

{% block content %}
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::جزئیات-->
            <div class="d-flex align-items-center flex-wrap mr-2">

                <!--begin::Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    پروژه ها </h5>
                <!--end::Title-->

                <!--begin::Separator-->
                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                <!--end::Separator-->

                <!--begin::جستجو Form-->
                <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                                            تعداد : {{ projects.count }}                                   </span>
                </div>
                <!--end::جستجو Form-->

            </div>
            <!--end::جزئیات-->

            <!--begin::Toolbar-->
            <div class="d-flex align-items-center">

                <!--begin::دکمه-->
                <a href="{% url 'managers:project_create' %}" class="btn btn-light-primary font-weight-bold ml-2">

                    ایجاد پروژه </a>
                <!--end::دکمه-->
            </div>
            <!--end::Toolbar-->
        </div>
    </div>

    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class=" container ">

            <div class="row">

                {% for project in projects %}
                    <div class="col-xl-6">
                        <!--begin::Card-->
                        <div class="card card-custom gutter-b card-stretch">
                            <!--begin::Body-->
                            <div class="card-body">
                                <!--begin::Section-->
                                <div class="d-flex align-items-center">
                                    <!--begin::Pic-->
                                    <div class="flex-shrink-0 mr-4 symbol symbol-65 symbol-circle">
                                        <img src="{% static 'media_files/bg/bg-10.jpg' %}" alt="image">
                                    </div>
                                    <!--end::Pic-->
                                    <!--begin::اطلاعات-->
                                    <div class="d-flex flex-column mr-auto">
                                        <!--begin: Title-->
                                        <a href="{% url 'managers:project_detail' project.pk %}"
                                           class="card-title text-hover-primary font-weight-bolder font-size-h5 text-dark mb-1">
                                            {{ project.name }}
                                        </a>
                                        <a href="{% url 'managers:department_detail' project.department.pk %}"
                                           class="text-muted font-weight-bold">
                                            {{ project.department.name }}
                                        </a>
                                        <!--end::Title-->
                                    </div>
                                    <!--end::اطلاعات-->
                                    <!--begin::Toolbar-->
                                    <div class="card-toolbar mb-auto">
                                        <div class="dropdown dropdown-inline" data-toggle="tooltip" title=""
                                             data-placement="left" data-original-title="اقدامات سریع">
                                            <a href="#" class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="ki ki-bold-more-hor"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                                <!--begin::Navigation-->
                                                <ul class="navi navi-hover">
                                                    <li class="navi-header pb-1">
                                                        <span class="text-primary text-uppercase font-weight-bold font-size-sm">جدید اضافه کن:</span>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="#" class="navi-link">
                                                        <span class="navi-icon"><i
                                                                class="flaticon2-shopping-cart-1"></i></span>
                                                            <span class="navi-text">سفارش</span>
                                                        </a>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="#" class="navi-link">
                                                        <span class="navi-icon"><i
                                                                class="flaticon2-calendar-8"></i></span>
                                                            <span class="navi-text">رویداد</span>
                                                        </a>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="#" class="navi-link">
                                                            <span class="navi-icon"><i
                                                                    class="flaticon2-graph-1"></i></span>
                                                            <span class="navi-text">گزارش</span>
                                                        </a>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="#" class="navi-link">
                                                        <span class="navi-icon"><i
                                                                class="flaticon2-rocket-1"></i></span>
                                                            <span class="navi-text">پست</span>
                                                        </a>
                                                    </li>
                                                    <li class="navi-item">
                                                        <a href="#" class="navi-link">
                                                            <span class="navi-icon"><i
                                                                    class="flaticon2-writing"></i></span>
                                                            <span class="navi-text">فایل</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                                <!--end::Navigation-->
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Toolbar-->
                                </div>
                                <!--end::Section-->
                                <!--begin::Content-->
                                <div class="d-flex flex-wrap mt-14">
                                    <div class="mr-12 d-flex flex-column mb-7">
                        <span class="d-block font-weight-bold mb-4">
                            تاریخ شروع
                        </span>
                                        <span class="btn btn-light-primary btn-sm font-weight-bold btn-upper btn-text">{{ project.start_date }}</span>
                                    </div>
                                    <div class="mr-12 d-flex flex-column mb-7">
                        <span class="d-block font-weight-bold mb-4">
                            موعد مقرر
                        </span>
                                        <span class="btn btn-light-danger btn-sm font-weight-bold btn-upper btn-text">{{ project.end_date }}</span>
                                    </div>
                                    <!--begin::پیشرفت-->
                                    <div class="flex-row-fluid mb-7">
                                        <span class="d-block font-weight-bold mb-4">
                                            {% if project.get_progress.final_date <= 0 %}
                                                به اتمام رسیده
                                            {% else %}
                                                {{ project.get_progress.final_date }} روز تا اتمام
                                            {% endif %}
                                        </span>
                                        <div class="d-flex align-items-center pt-2">
                                            <div class="progress progress-xs mt-2 mb-2 w-100">

                                                {% if project.get_progress.progress < 25 %}
                                                    <div class="progress-bar bg-info" role="progressbar"
                                                         style="width: {{ project.get_progress.progress }}%;"
                                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% elif project.get_progress.progress < 50 %}
                                                    <div class="progress-bar bg-warning" role="progressbar"
                                                         style="width: {{ project.get_progress.progress }}%;"
                                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% elif project.get_progress.progress < 100 %}
                                                    <div class="progress-bar bg-danger" role="progressbar"
                                                         style="width: {{ project.get_progress.progress }}%;"
                                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% elif project.get_progress.progress >= 100 %}
                                                    <div class="progress-bar bg-success" role="progressbar"
                                                         style="width: 100%;"
                                                         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                {% endif %}

                                            </div>
                                            <span class="ml-3 font-weight-bolder">
                                                {% if project.get_progress.progress > 100 %}
                                                    100%
                                                {% else %}
                                                    {{ project.get_progress.progress }}%
                                                {% endif %}
                                            </span>
                                        </div>
                                    </div>
                                    <!--end::پیشرفت-->
                                </div>
                                <!--end::Content-->
                                <!--begin::متن-->
                                <p class="mb-7 mt-3">
                                    {{ project.description }}
                                </p>
                                <!--end::متن-->
                                <!--begin::وبلاگ-->
                                <div class="d-flex flex-wrap">
                                    <!--begin: Item-->
                                    <div class="mr-12 d-flex flex-column mb-7">
                                        <span class="font-weight-bolder mb-4">جمع فاکتور ها</span>
                                        <span class="font-weight-bolder font-size-h5 pt-1"><span
                                                class="font-weight-bold text-dark-50">تومان </span>{{ project.get_total_expenses|intcomma:False }}</span>
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="mr-12 d-flex flex-column mb-7">
                                        <span class="font-weight-bolder mb-4">جمع فاکتور های پرداخت شده</span>
                                        <span class="font-weight-bolder font-size-h5 pt-1"><span
                                                class="font-weight-bold text-dark-50">تومان </span>{{ project.get_total_expenses_paid|intcomma:False }}</span>
                                    </div>
                                    <!--end::Item-->
                                    <!--begin::Item-->
                                    <div class="d-flex flex-column flex-lg-fill float-left mb-7">
                                        <span class="font-weight-bolder mb-4">کارفرمایان</span>
                                        <div class="symbol-group symbol-hover">
                                            {% for customer in project.customers.all %}
                                                <div class="symbol symbol-30 symbol-circle" data-toggle="tooltip"
                                                     title=""
                                                     data-original-title="{{ customer.get_full_name }}">
                                                    <img alt="Pic" src="{{ customer.avatar.url }}">
                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <!--end::Item-->
                                </div>
                                <!--end::وبلاگ-->
                            </div>
                            <!--end::Body-->
                            <!--begin::Footer-->
                            <div class="card-footer d-flex align-items-center">
                                <div class="d-flex">
                                    {% if request.user.is_staff %}
                                        <div class="d-flex align-items-center mr-7">
                        <span class="svg-icon svg-icon-gray-500"><!--begin::Svg Icon | path:assets/media/svg/icons/متن/Bullet-list.svg--><svg
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect x="0" y="0" width="24" height="24"></rect>
        <path d="M10.5,5 L19.5,5 C20.3284271,5 21,5.67157288 21,6.5 C21,7.32842712 20.3284271,8 19.5,8 L10.5,8 C9.67157288,8 9,7.32842712 9,6.5 C9,5.67157288 9.67157288,5 10.5,5 Z M10.5,10 L19.5,10 C20.3284271,10 21,10.6715729 21,11.5 C21,12.3284271 20.3284271,13 19.5,13 L10.5,13 C9.67157288,13 9,12.3284271 9,11.5 C9,10.6715729 9.67157288,10 10.5,10 Z M10.5,15 L19.5,15 C20.3284271,15 21,15.6715729 21,16.5 C21,17.3284271 20.3284271,18 19.5,18 L10.5,18 C9.67157288,18 9,17.3284271 9,16.5 C9,15.6715729 9.67157288,15 10.5,15 Z"
              fill="#000000"></path>
        <path d="M5.5,8 C4.67157288,8 4,7.32842712 4,6.5 C4,5.67157288 4.67157288,5 5.5,5 C6.32842712,5 7,5.67157288 7,6.5 C7,7.32842712 6.32842712,8 5.5,8 Z M5.5,13 C4.67157288,13 4,12.3284271 4,11.5 C4,10.6715729 4.67157288,10 5.5,10 C6.32842712,10 7,10.6715729 7,11.5 C7,12.3284271 6.32842712,13 5.5,13 Z M5.5,18 C4.67157288,18 4,17.3284271 4,16.5 C4,15.6715729 4.67157288,15 5.5,15 C6.32842712,15 7,15.6715729 7,16.5 C7,17.3284271 6.32842712,18 5.5,18 Z"
              fill="#000000" opacity="0.3"></path>
    </g>
</svg><!--end::Svg Icon--></span> <a href="{% url 'managers:project_update' project.pk %}"
                                     class="font-weight-bolder text-primary ml-2">ویرایش</a>
                                        </div>
                                    {% endif %}
                                </div>
                                <a href="{% url 'managers:project_detail' project.pk %}"
                                   class="btn btn-primary btn-sm text-uppercase font-weight-bolder mt-5 mt-sm-0 mr-auto mr-sm-0 ml-sm-auto">
                                    جزئیات
                                </a>
                            </div>
                            <!--end::Footer-->
                        </div>
                        <!--end::Card-->
                    </div>
                {% empty %}
                    <div class="col-12">
                        <div class="alert  alert-custom alert-secondary" role="alert">
                            <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                            <div class="alert-text">
                                پروژه ای یافت نشد.
                                <a href="{% url 'managers:project_create' %}">ایجاد پروژه جدید</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>


            {% if is_paginated %}
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="d-flex flex-wrap mr-3">
                        {% if page_obj.has_previous %}
                            <a href="?page={{ page_obj.previous_page_number }}"
                               class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i
                                    class="ki ki-bold-double-arrow-next icon-xs"></i></a>
                        {% endif %}

                        {% for page in paginator.page_range %}
                            <a
                                    href="?page={{ page }}"
                                    class="btn btn-icon btn-sm border-0 btn-hover-primary mr-2 my-1 {% if page == page_obj.number %}
                                active
                                {% endif %}"
                            >{{ page }}</a>
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}"
                               class="btn btn-icon btn-sm btn-light-primary mr-2 my-1"><i
                                    class="ki ki-bold-double-arrow-back icon-xs"></i></a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>
        <!--end::Container-->
    </div>
{% endblock %}