{% extends 'managers/managers_base/_managers_base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
    لیست کاربران
{% endblock %}

{% block content %}
    <div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
        <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <div class="d-flex align-items-center flex-wrap mr-2">

                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                    کاربران </h5>

                <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>

                <div class="d-flex align-items-center" id="kt_subheader_search">
                <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">
                                            تعداد : {{ users.count }}                                   </span>
                    <div class="btn-group ml-2">
                        <button type="button" class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base">

                            فیلتر کاربران
                        </button>

                        <button type="button"
                                class="btn btn-primary font-weight-bold btn-sm px-3 font-size-base dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>

                        <div class="dropdown-menu dropdown-menu-sm p-0 m-0 dropdown-menu-right" style="">
                            <ul class="navi py-5">
                                <li class="navi-item">
                                    <a href="?filter=customer" class="navi-link">
                                        <span class="navi-icon"><i class="fa fa-users"></i></span>
                                        <span class="navi-text">کارفرمایان</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="?filter=employee" class="navi-link">
                                        <span class="navi-icon"><i class="fa fa-user-circle"></i></span>
                                        <span class="navi-text">کارمندان</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="?filter=manager" class="navi-link">
                                        <span class="navi-icon"><i class="fa fa-cog"></i></span>
                                        <span class="navi-text">مدیران</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="?filter=staff" class="navi-link">
                                        <span class="navi-icon"><i class="fa fa-user-cog"></i></span>
                                        <span class="navi-text">ارشد</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="?filter=supporter" class="navi-link">
                                        <span class="navi-icon"><i class="fa fa-user-astronaut"></i></span>
                                        <span class="navi-text">پشتیبان</span>
                                    </a>
                                </li>
                                <li class="navi-item">
                                    <a href="?filter=admin" class="navi-link">
                                        <span class="navi-icon"><i class="fa fa-phone"></i></span>
                                        <span class="navi-text">ادمین ها</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex align-items-center">
                <a href="{% url 'managers:user_create' %}" class="btn btn-light-primary font-weight-bold ml-2">

                    افزودن کاربر </a>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column-fluid">
        <div class=" container ">
            <div class="row">

                {% for user in users %}
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                        <div class="card card-custom gutter-b card-stretch">
                            <div class="card-body pt-4">
                                <div class="d-flex justify-content-end">
                                    <div class="dropdown dropdown-inline" data-toggle="tooltip" title=""
                                         data-placement="left" data-original-title="اقدامات سریع">
                                        <a class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="ki ki-bold-more-hor"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                                            <ul class="navi navi-hover">
                                                <li class="navi-header font-weight-bold py-4">
                                                    <span class="font-size-lg">انتخاب کنید:</span>
                                                </li>
                                                <li class="navi-separator mb-3 opacity-70"></li>
                                                <li class="navi-item">
                                                    <a href="{% url 'managers:user_update' user.pk %}"
                                                       class="navi-link">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-warning">ویرایش</span>
            </span>
                                                    </a>
                                                </li>
                                                <li class="navi-item">
                                                    <a href="{% url 'managers:user_delete' user.pk %}"
                                                       data-user-id="{{ user.pk }}" class="navi-link delete_user">
            <span class="navi-text">
                <span class="label label-xl label-inline label-light-danger" id="delete_user_text">
                    حذف
                </span>
            </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center mb-7">
                                    <div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">

                                        {% if user.is_superuser %}
                                            <div class="symbol symbol-lg-75 symbol-circle symbol-danger">
                                                <div class="symbol symbol-circle symbol-lg-75">
                                                    <img src="{{ user.avatar.url }}" alt="تصویر پروفایل">
                                                </div>
                                            </div>
                                        {% elif user.is_staff %}
                                            <div class="symbol symbol-lg-75 symbol-circle symbol-warning">
                                                <div class="symbol symbol-circle symbol-lg-75">
                                                    <img src="{{ user.avatar.url }}" alt="تصویر پروفایل">
                                                </div>
                                            </div>
                                        {% elif user.customer %}
                                            <div class="symbol symbol-lg-75 symbol-circle symbol-success">
                                                <div class="symbol symbol-circle symbol-lg-75">
                                                    <img src="{{ user.avatar.url }}" alt="تصویر پروفایل">
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="symbol symbol-lg-75 symbol-circle symbol-info">
                                                <div class="symbol symbol-circle symbol-lg-75">
                                                    <img src="{{ user.avatar.url }}" alt="تصویر پروفایل">
                                                </div>
                                            </div>
                                        {% endif %}

                                    </div>
                                    <div class="d-flex flex-column">
                                        <span
                                                class="text-dark font-weight-bold font-size-h4 mb-0">{{ user.get_full_name }}</span>
                                    </div>
                                </div>
                                <p class="mb-7">
                                    {{ user.bio }}
                                </p>
                                <div class="mb-7">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">ایمیل :</span>
                                        <a href="mailto:{{ user.email }}"
                                           class="text-muted text-hover-primary">{{ user.email }}</a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-cente my-2">
                                        <span class="text-dark-75 font-weight-bolder mr-2">شماره موبایل:</span>
                                        <a href="tel:{{ user.username }}" class="text-muted text-hover-primary">
                                            {{ user.username }}
                                        </a>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center my-2">
                                        <span class="text-dark-75 font-weight-bolder mr-2">آخرین ورود :</span>
                                        <span class="text-muted">
                                            {% if user.last_login %}
                                                {{ user.last_login|naturaltime }}
                                            {% else %}
                                                ثبت نشده
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <span class="text-dark-75 font-weight-bolder mr-2">سطح:</span>
                                        {% if user.is_superuser %}
                                            <span class="text-danger font-weight-bold">مدیر</span>
                                        {% elif user.is_staff %}
                                            <span class="text-warning font-weight-bold">ارشد</span>
                                        {% elif user.is_customer %}
                                            <span class="text-success font-weight-bold">کارفرما</span>
                                        {% elif user.is_employee %}
                                            <span class="text-info font-weight-bold">کارمند</span>
                                        {% elif user.is_admin %}
                                            <span class="text-primary font-weight-bold">ادمین</span>
                                        {% elif user.is_supporter %}
                                            <span class="text-secondary font-weight-bold">پشتیبان</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <a href="{% url 'managers:user_update' user.pk %}"
                                   class="btn btn-block btn-sm btn-light-primary font-weight-bolder text-uppercase py-4">
                                    ویرایش</a>
                                {% if user.is_active %}
                                    <a href="javascript:void(0)" data-id="{{ user.pk }}"
                                       class="btn btn-block btn-sm btn-light-danger font-weight-bolder text-uppercase py-4 user_is_active">
                                        غیرفعال کردن</a>
                                {% else %}
                                    <a href="javascript:void(0)" data-id="{{ user.pk }}"
                                       class="btn btn-block btn-sm btn-light-warning font-weight-bolder text-uppercase py-4 user_is_active">
                                        فعال کردن</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="col-12">
                        <div class="alert  alert-custom alert-secondary" role="alert">
                            <div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
                            <div class="alert-text">
                                کاربری یافت نشد.
                                <a href="{% url 'managers:user_create' %}">ایجاد کاربر جدید</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            {% include 'core/components/paginate_component.html' with is_paginated=is_paginated page_obj=page_obj paginator=paginator %}
        </div>
    </div>
{% endblock %}

{% block new_js_code %}
    <script>
        $(document).ready(function () {
            $('.user_is_active').click(function () {
                var userId = $(this).attr('data-id')
                $.ajax({
                    url: '{% url "managers:user_is_active" %}',
                    method: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'user_id': userId
                    }
                }).done(function (data) {
                    var clicked = $(`[data-id=${userId}]`)
                    if (data === 'deactivate') {
                        toastr.info('---------کاربر غیر فعال شد')
                        clicked.removeClass('btn-light-danger')
                        clicked.addClass('btn-light-warning')
                        clicked.text('فعال کردن')
                    } else if (data === 'activate') {
                        toastr.info('---------کاربر فعال شد')
                        clicked.addClass('btn-light-danger')
                        clicked.removeClass('btn-light-warning')
                        clicked.text('غیرفعال کردن')
                    }
                })
            })
        })
    </script>
{% endblock %}