/** GLOBAL **/

html, body {
    height: 100%;
    background: #002336;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

* {
    color: #333447;
    line-height: 1.5;
}

/* TYPOGRAPHY */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.75rem;
}

h5 {
    font-size: 0.5rem;
}

h6 {
    font-size: 0.5rem;
}

p {
    font-size: 0.9rem;
    font-weight: 200;
    line-height: 1.8;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}

/* POSITIONING */

.left {
    text-align: left;
}

.right {
    float: right;
    text-align: right;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

/** standard padding**/

.no-padding {
    padding: 0px;
}

.standard-padding {
    padding: 20px;
}

.standard-padding-right {
    padding-right: 20px;
}

.standard-padding-left {
    padding-left: 20px;
}

.standard-padding-right {
    padding-left: 20px;
}

.standard-padding-top {
    padding-top: 20px;
}

.standard-padding-bottom {
    padding-bottom: 20px;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

.invoice-box {
    background: #ffffff;
    max-width: 900px;
    margin: 60px auto;
    padding: 30px;
    border: 1px solid #002336;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    line-height: 24px;
    color: #002336;
}

.title {
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    border-bottom: 1px solid #8B8B8B;
    margin-bottom: 4px;
}

.infoblock {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

.titles {
    padding-top: 4px;
    margin-top: 20px;
    background: #DCDCDC;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .invoice-box table tr.top table td {
        width: 100%;
        display: block;
        text-align: center;
    }

    .invoice-box table tr.information table td {
        width: 100%;
        display: block;
        text-align: center;
    }
}

/** RTL **/

.rtl {
    direction: rtl;
    font-family: "Lato", Tahoma, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.rtl table {
    text-align: right;
}

.rtl table tr td:nth-child(2) {
    text-align: left;
}

.eqWrap {
    display: flex;
}

.eq {
    padding: 10px;
}

.item:nth-of-type(odd) {
    background: #F9F9F9;
}

.item:nth-of-type(even) {
    background: #fff;
}

.equalHW {
    flex: 1;
}

.equalHM {
    width: 32%;
}

.equalHMR {
    width: 32%;
    margin-bottom: 2%;
}

table.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: left;
    padding: 0.25em;
}

.table tr {
    border-bottom: 1px solid #DDD;
}

button:hover {
    box-shadow: 0 0 4px rgba(3, 3, 3, 0.8);
    opacity: 0.9;
}
