{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>

{#<link href="assets/plugins/custom/fullcalendar/fullcalendar.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css"/>#}


<link href="{% static 'plugins/global/plugins.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
{#<link href="plugins/custom/prismjs/prismjs.bundle.rtl.css?v=7.0.6" rel="stylesheet" type="text/css"/>#}
<link href="{% static 'css/style.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>