{% load static %}
<!--begin::Fonts-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
<!--end::Fonts-->

<link href="{% static 'managers/plugins/global/plugins.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'managers/plugins/custom/prismjs/prismjs.bundle.rtl.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'managers/css/style.bundle.rtl.css' %}" rel="stylesheet" type="text/css"/>

<link href="{% static 'managers/css/layout/base/light.rtl.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'managers/css/layout/menu/light.rtl.css' %}" rel="stylesheet"
      type="text/css"/>
<link href="{% static 'managers/css/layout/brand/dark.rtl.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'managers/css/layout/aside/dark.rtl.css' %}" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="{% static 'font-style.css' %}">