{% extends 'accounts/registration/_registration_base.html' %}

{% block title %}
    ورود به حساب | گروه فلزکاری برادران عبدی
{% endblock %}

{% block content %}
    <div class="text-center mb-10 mb-lg-20">
        <h3 class="font-size-h1">ورود به حساب</h3>
        <p class="text-muted font-weight-bold">شماره موبایل خودرا وارد کنید</p>
    </div>

    <!--begin::Form-->
    <form class="form" method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.captcha }}
        <div class="form-group">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
            <ul class="mt-2">
                <li class="text-dark-50">{{ form.phone_number.help_text }}</li>
                {% if form.phone_number.errors %}
                    {% for error in form.phone_number.errors %}
                        <li class="text-danger">{{ error }}</li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
        <!--begin::اکشن-->
        <div class="form-group d-flex flex-wrap justify-content-between align-items-center">
            <button type="submit"
                    class="btn btn-primary font-weight-bold px-9 py-4 my-3">دریافت کد تائید
            </button>
        </div>
        <!--end::اکشن-->
    </form>
    <!--end::Form-->
{% endblock %}