<div class="header-bottom">
    <div class=" container ">
        <div class="header-menu-wrapper header-menu-wrapper-left bg-transparent" id="kt_header_menu_wrapper">
            <div id="kt_header_menu"
                 class="header-menu header-menu-left header-menu-mobile  header-menu-layout-default ">
                <ul class="menu-nav ">
                    {% if request.user.is_staff or request.user.is_superuser %}
                        {# ===== for staff ===== #}
                        <li class="menu-item" aria-haspopup="true">
                            <a href="{% url 'staff_module:home' %}" class="menu-link ">
                                <span class="menu-text">داشبورد</span>
                            </a>
                        </li>
                        <li class="menu-item" aria-haspopup="true">
                            <a href="{% url 'staff_module:department_list' %}" class="menu-link ">
                                <span class="menu-text">دپارتمان ها</span>
                            </a>
                        </li>
                        <li class="menu-item" aria-haspopup="true">
                            <a href="{% url 'staff_module:project_list' %}" class="menu-link ">
                                <span class="menu-text">پروژه ها</span>
                            </a>
                        </li>
                        {# ===== for customer ====== #}
                    {% elif request.user.is_customer or request.user.is_superuser %}
                        <li class="menu-item" aria-haspopup="true">
                            <a href="{% url 'customer_module:home' %}" class="menu-link ">
                                <span class="menu-text">داشبورد</span>
                            </a>
                        </li>
                        <li class="menu-item" aria-haspopup="true">
                            <a href="{% url 'customer_module:project_list' %}" class="menu-link ">
                                <span class="menu-text">پروژه ها</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>