<div class="header-top">
    <div class=" container ">
        <div class="d-none d-lg-flex align-items-center mr-3">
            <a href="https://abolfazlabdi.ir" target="_blank" class="mr-10">
                <h6 class="text-white">
                    گروه فلزکاری برادران عبدی
                </h6>
            </a>
        </div>

        <div class="topbar">
            <div class="topbar-item">
                <div class="btn btn-icon w-auto d-flex align-items-center btn-lg px-2"
                     id="kt_quick_user_toggle">
                    <div class="d-flex text-right pr-3">
                        <span class="text-white opacity-50 font-weight-bold font-size-sm d-none d-md-inline mr-1">سلام,</span>
                        <span class="text-white font-weight-bolder font-size-sm d-none d-md-inline">{{ request.user.first_name }}</span>
                    </div>
                    <span class="symbol symbol-35">
									<span class="symbol-label font-size-h5 font-weight-bold text-white bg-white-o-15">{{ request.user.first_name|slice:1 }}</span>
								</span>
                </div>
            </div>
        </div>
    </div>
</div>